body{
   min-width:295px; /* suppose you want minimun width of 1000px */
   width: auto !important;  /* Firefox will set width as auto */
}

#textSpace{
	padding-top:20px;
	padding-left:20px;
	padding-right:20px;
	text-align: center;
}