.navbar-header{
	margin-left:20% !important;
}
.navbar-brand, .navbar-nav li a{
	color: rgb(0,61,137) !important;
}
.navbar-nav li a:hover{
	background-color: #e7e7e7 !important;
}
@media screen and (max-width: 768px) {
    .navbar-header{
		margin-left: 10px !important;
		max-width: 970px;
    }
}